@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{

    font-family: 'Dosis', sans-serif;
}

.MuiButton-containedPrimary{
  background-color: #61B345 !important;
}

.MuiButton-containedPrimary:hover{
    background-color: #ab3535 !important;
}

h2{
    color: #ab3535;
}