
container {
    display: flex;
    flexWrap: 'wrap';
}

.c-flex{
    display : flex;
    flexWrap: 'wrap';
    justify-content: center;

}

.blockImgPk{
    width: 70%;
    margin-right: 2rem;
}

.c-flex-no-wrap{
    display : flex;


}

.c-flex-wrap-cat{
    flex-wrap: wrap;
    display : flex;
    justify-content: space-between;
}

.woke{
    display :flex;
    align-items :center;
    margin-left : 20%

}

textField {
    marginLeft: "theme.spacing(1)";
    marginRight: "theme.spacing(1)";
    width: 200px;
}

._urq7mym {
    border: 1px solid #DDDDDD !important;
    border-radius: 32px !important;
    color: #222222 !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 66px !important;
    position: relative !important;
    width: 100% !important;
    --big-search-form-background: #FFFFFF !important;
    background-color: #FFFFFF !important;
}

._1c7nvmy {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex: 1 1 0% !important;
    -ms-flex: 1 1 0% !important;
    flex: 1 1 0% !important;
    height: 100% !important;
    min-width: 0px !important;
    pointer-events: auto !important;
}

.banner{
    padding: 100px 0;
    background-size: cover;
    background-position: 50%;
    min-height: 600px;
    position: relative;
    z-index: 1;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.MuiButton-root:hover{
    background-color: #61B345 !important;
}

.c-brown{
    color : #413122
}

.circle {
    background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.h1-banner{
    color: #fff;
    text-align: center;
    line-height: 70px;
    margin-bottom: 33px;
    font-weight: 700!important;
    margin-top: 0!important;
    font-size: 60px;
    text-shadow: 0 0 15px black;

}

.align-items-center{
    align-items: center!important;
}
.d-flex{
    display: flex!important;
}



a{
    text-decoration: none;
    color: white;
}

.card-cat{
    width : 20% ;
    marginRight : 2%
}

.searchBar{
    max-width : 807px;
    border : 3px solid #61B345;
    display : flex;
    padding : 8px;
    border-radius : 20px
}



@media only screen and (max-width : 60rem){
 .c-flex-wrap-cat{
    flex-direction: column;
     align-items: center;
}
    .card-cat{
        width : 100% ;
        marginRight : 2%
    }
    .blockImgPk{
        margin-right: 0rem;
    }

 .woke{
     flex-direction: column;
     align-items: center;
     margin-left: 0%;
     width: 100%;
 }
 .textWoke{
     margin-left: 12%;
     margin-right: 12% ;

 }
 .searchBar{
     flex-direction: column;
     border: none;
     align-items: center;
 }

    .c-flex-no-wrap{
        flex-direction: column;
        align-items: center;
    }

    .h1-banner{
        font-size: 33px;
    }
}
