.navbar__link {
    margin: 1em;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .3em;
    text-indent: .3em;
    color: #181818;
    border-bottom: 3px solid transparent;
}

.navbar__link:hover {
    transform: translateY(-2px);
}

.navbar__link--active {
    border-bottom: 3px solid #29b6f6;
    transition: border-bottom .5s ease-in-out;
}

.MuiButtonBase-root {
    color: #181818;
}   
