.c-flex-wrap-category{
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap
}

.house-title:hover{
    color: #61B345 !important;
}

@media only screen and (max-width : 60rem){
    .c-flex-wrap-category{
        flex-direction: column;
        align-items: center;
    }
    .c-card-cat{
        width: 100% !important;
        margin-bottom: 5%;
    }


}