@media only screen and (max-width : 60rem){
    .c-res{
        flex-direction: column;
        align-items: center;
        padding: 0;

    }
    .m-0{
        margin-top: 0px !important;

    }
    .m-CGU{
        margin: 0;
    }
    .m-RS{
        margin-left: 20px !important;
    }
}



