.property-pg-left {

    width: 100%;
    padding-right: 10px;
}

.container-slide-map{
    display :flex;
    max-height :405px
}
.descp-text {

    width: 100%;
    border: 1px solid #e0e1e6;
    padding: 23px 30px 20px;

    min-width :855px
}

.equi-text{

    width: 100%;




}

.c-flex-pd{
    display: flex;
}
.c-flex-equip{
    display: flex;

}
.container-desc{
    display: flex;
}

.slide-container{
    width: 55%;
    margin-right: 3%;
}

@media only screen and (max-width : 60rem){
    .c-flex-pd{
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
    }

    .text-adress{
        margin-top: 5%;
    }

    .container-slide-map{
        display: block;
    }

    .slide-container{
       width: 100%;
    }

    .container-desc {
          margin-right: 63px;
          display: block;

    }
    .container-equip{
        margin-right: 63px;
    }
    .c-flex-equip{
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
        width: 100%;
    }
    .descp-text{
        min-width :0;
    }
}
