.react-slideshow-wrapper.slide {
    width: 100%;
    overflow: hidden;
    height: 370px;
}

.c-flex{
    display : flex;
    justify-content: space-between;
}

.c-flex-wrap{
    flex-wrap: wrap;
    display : flex;
}

.c-booking{
    display : flex;
    margin-left : 30px;
    flex-Direction : column;
    border : 1px solid #e0e1e6;
    padding : 10px 30px 10px 30px;
    max-height : 309px;
    width: 100%;
    justify-content: center;
}

@media only screen and (max-width : 60rem){
    .c-flex, c-flex-wrap{
        display: block;

    }

    .c-booking{
        margin-left: 0;
        margin-bottom: auto;

    }
}

.equipment {
    border: solid 2px;
    border-radius: 20px;
    padding: 16px;
}

.popIn {
    text-align: right;
    border: solid 2px;
    border-radius: 20px;
    width: 25%;
    float: left;
    padding: 10px;
    margin-top: 20px;
}


.commentary {
    border: solid 2px;
    margin: 16px 0;
    padding: 16px;
    border-radius: 20px;
    width: 30%;
    float: left;
}

.description {
    width: 70%;
    float: left;
}

.details {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inDetails {
    padding: 16px;
    border: solid 2px;
    border-radius: 20px;
}

